<mat-card>
    <mat-card-title>Rybakówka</mat-card-title>
    <img mat-card-image src="../../../assets/rybakowka.png" alt="Payment">
    <h3>O nas</h3>
    <mat-card-content>
        <p>Chcielibyśmy zaprezentować Wam nasze poczynania , które realizujemy z myślą o Was i waszych potrzebach .
            Doskonale wiemy że nie ma w okolicy tak urokliwego miejsca , gdzie można spędzić wolny czas w ciszy i
            spokoju ,
            a przede wszystkim z dala od miejskiego zgiełku i z cudownym krajobrazem na łonie natury . Już niebawem
            powstanie 140 hektarowy kompleks który będzie miał bogatą ofertę rozrywkową m.in :
            <br>- smażalnia ryb
            <br>- muzyka na żywo
            <br> - rowerki wodne
            <br>- skutery wodne
            <br>- motorówki
            <br>- kajaki
            <br> - ścieżki rowerowe jak i pasaże spacerowe
            <br> - park linowy
            <br> - domki drewniane
            Jest to idealne miejsce w te nadchodzące upalne dni :)
            Realizacja jest ogromna więc co za tym idzie ? Już wkrótce będzie otwarta pierwsza część przedsięwzięcia , o
            szczegółach będziemy na bieżąco informować :)
            Plany są dość rozlegle koniec całego projektu zakładamy na rok 2019 .</p>
    </mat-card-content>
</mat-card>

