<span *ngIf="isAuthenticated()">
    <span>
      Logged in as: {{getNickname()}}
    </span>
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
</span>
<button class="btn btn-primary login" (click)="check()">
    Check
</button>
<button class="btn btn-primary login" (click)="decodeToken()">
    decodeToken
</button>
<button class="btn btn-primary login" (click)="getToken2()">
    Get token 2
</button>
<button class="btn btn-primary login" (click)="getTokenExpirationDate()">
    getTokenExpirationDate
</button>

