<button mat-stroked-button color="accent" (click)="openDialogToSetDate()">
    Wybierz datę
</button>
<span *ngIf="!!selectedDate">
    Wybrana data: <span class="date">{{selectedDate | date: 'dd/MM/yyyy hh:mm' }}</span>
</span>

<div class="under-table-section">
    <span class="title">Dostępny sprzęt</span>
    <button mat-stroked-button color="primary" (click)="openDialogToAddNewEquipment()" *ngIf="isAdmin()"
            class="add-equipment">
        Dodaj nowy sprzęt
    </button>
    <button *ngIf="!!getCartLength()" mat-stroked-button color="primary" class="right">
        Zamów
    </button>
    <span *ngIf="!!getCartLength()" class="cart right">
        Wybrane sprzęty: <span class="number">{{getCartLength()}}</span>
    </span>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nazwa</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Cena</th>
            <td mat-cell *matCellDef="let element"> {{element.price}} zł</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="actions-containers">
                    <span *ngIf="!isInCart(element._id)" class="add-to-cart" (click)="addToCart(element._id)">Dodaj do koszyka</span>
                    <span *ngIf="isInCart(element._id)" class="in-cart">Dodano</span>
                    <span *ngIf="isInCart(element._id)" (click)="revert(element._id)" class="remove">Cofnij</span>
                    <span class="edit" *ngIf="isAdmin() && !isInCart(element._id)"
                          (click)="openDialogToEditEquipment(element)">Edytuj</span>
                    <span class="remove" *ngIf="isAdmin() && !isInCart(element._id)"
                          (click)="removeEquipment(element._id)">Usuń</span>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


