$primary-color: #375b84;

.under-table-section {
  padding: 15px 0;

  .title {
    margin: 30px 15px;
  }

  .right {
    float: right;
  }

  .cart {
    color: $primary-color;

    .number {
      padding: 0 5px;
    }
  }

  .extra-margin {
    margin: 15px;
  }
}

.date {
  padding: 5px 0;
}

table {
  width: 100%;
}

.actions-containers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .remove {
    cursor: pointer;
    transition: .3s ease;
    color: #ff3f41;
    padding: 10px 15px;

    &:hover {
      text-decoration: underline;
    }
  }

  .edit {
    cursor: pointer;
    transition: .3s ease;
    color: $primary-color;
    padding: 10px 15px;

    &:hover {
      text-decoration: underline;
    }
  }

  .add-to-cart {
    cursor: pointer;
    transition: .3s ease;
    color: #35bd00;
    padding: 10px 15px;

    &:hover {
      text-decoration: underline;
    }
  }

  .in-cart {
    color: #35bd00;
    padding: 10px 15px;
  }
}


